.skranji-regular {
  font-family: 'Skranji', system-ui;
  font-weight: 400;
  font-style: normal;
}

.skranji-bold {
  font-family: 'Skranji', system-ui;
  font-weight: 700;
  font-style: normal;
}

/* Using the font in your CSS */
body {
  margin: 0;
}

.odin {
  font-size: 50px;
  color: white;
  font-family: 'Skranji';
}

.right-column {
  background-color: #f9fafb;
}

.input-area {
  background-color: white;
}
